
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  background-color: #0b0217;
}
.nav {
  max-width: 2600px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
  
}
.nav_logo {
  font-size: 50px;
}
.nav_item {
  column-gap: 192px;
}
.nav_link:hover {
  color: #d9d9d9;
}
.button {
  padding: 6px 24px;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

/* Home */
.home {
  position: relative;
  height: 900px;
  width: 100%;
  background-image: url("image 3.jpg");
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box  {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: break-spaces;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}


.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  margin: auto;
  height: 158%;

}
.firsthalf{
  width: 3000px;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0b0217;
      padding: 21px 3px;
}
.secondhalf{
width: 70%;
}
.secondhalf img{
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big{
font-size: 75px;
font-size: 3em;
  color: #3498DB;
  padding: 0px 24px;
}
.text-small{
font-size: 25px;
padding: 0px 26px;
}
.btn{
  padding: 8px 20px;
  margin: 7px 3px;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.btn-sm{
  padding: 6px 10px;
  vertical-align: middle;
  padding: 8px 20px;
  margin: 7px 3px;
  border-radius: 8px;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}


.section-top{
  
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin:auto;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ECF0F1; 
  padding: 50px;
}
.paras{
  padding: 0 65px;
}

.section-middle{
 
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin:auto;
  background-color: #ECF0F1; 
  padding: 50px;
}
.section-bottom{
 
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin:auto;
  background-color: #ECF0F1; 
  padding: 50px;
}
.sectionsubtag{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sectiontag{
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
  width: 250px;
  border:2px solid black;
  border-radius: 26px;
  margin-top: 85px;

}
.contact{
  background-color: #34495E; 
  color: #ECF0F1; 
  padding: 80px 0;
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.text-center{
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;}

.form{
  max-width: 70%;
  margin: 24px auto;
}

.form-input{
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ECF0F1; 
  border-radius: 6px;
  color: #2C3E50; 
  background-color: #ECF0F1; 
}

.btn-dark{
  padding: 12px 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #2C3E50; 
  color: #ECF0F1; 
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.btn-dark:hover{
  background-color: #34495E; 
}
#account-details {
  display: flex;
  align-items: center;
}

.user-email {
  color: #fff;
  margin-right: 10px;
}


